body {
    color:  rgb(255, 255, 255);
    background: rgb(211, 77, 106);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header
{ border-bottom: solid 2px rgb(203, 246, 252);
    padding: 20px;
    font-size: 32px;
}
section {
    background: rgb(211, 77, 106);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

section {
    padding-left: 20px;
    padding-right: 20px;
  }

.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  .categoria-videos img {
    opacity: 0.6;
    height: 200px;
}
.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid darkred; 
}

  img {
    height: 200px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .chamada {
    background: rgb(155, 14, 45);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
  .categoria h2 {
    color: rgb(255, 225, 243);
}